<!-- src/views/components/logout.ejs -->
<form action="/logout" method="GET" class="d-inline">
  <button type="submit" class="btn btn-outline-danger btn-sm">
    <i class="bi bi-box-arrow-right"></i> Logout
  </button>
</form>
