<footer class="bg-dark text-white">
    <div style="padding-left: 6%; padding-right: 6%;">
        <!-- <div class="row mt-5">
            <div class="col text-center">
                <div class="logo">
                    <a href="/"><img src="/assets/User/logo/Logo-min.png" width="170" height="80" alt="Logo"></a>
                </div>
            </div>
        </div> -->

        <div class="row mb-3 social_icons">
            <div class="col-auto">
                <!-- Optional social icons -->
            </div>
        </div>

        <div class="row mb-3 border-top pt-3 social_icons d-flex justify-content-between align-items-center">
            <div class="col-lg-6 col-md-6 footer-links text-center text-md-start">
                <a href="/" class="text-white mx-3 footer-link">Home</a>
                <a href="/about" class="text-white mx-3 footer-link">About Us</a>
                <a href="/inventories" class="text-white mx-3 footer-link">Services</a>
                <a href="/contact" class="text-white mx-3 footer-link">Contact</a>
            </div>
            <div class="col-lg-6 col-md-6 text-center text-lg-end text-md-end text-sm-center">
                <span>All Rights Reserved ©2025 Opti Reserve</span>
            </div>
        </div>

        <div class="row border-top pt-3">
            <!-- Optional extra content -->
        </div>
    </div>
    <br>
</footer>

WhatsApp Floating Button
 <a class="c-btn-whatsapp" target="_blank" href="https://api.whatsapp.com/send/?phone=923422366147&text&type=phone_number&app_absent=0" style="transform: translate(0,-105%);">
    <img src="/assets/User/images/whatsapp.png" alt="LMG WhatsApp">
</a> 
